@model IEnumerable<Easy_Games.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Transactions Page</h2>
<br />
<p>
    <input type="button" value="Create New Transaction" onclick="location.href='@Url.Action("Create", "Transactions")'" class="btn-info" />

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType.TransactionTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType.TransactionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionID },new {@class="btn btn-success" }) |
           
        </td>
    </tr>
}

</table>
